---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

---

<Layout title="Gallery">
	<main>
	</main>
</Layout>

<script>
	console.log("Index");
</script>

<style>
	
</style>
